*{margin:0;padding:0;}
html,body{
	background:url('../img/washi.png');
	font-size:20px;
	font-family:FZXBS,sans-serif;
	color:#000;
	height:100%;
	width:100%;
	overflow:hidden;
}
ol,li{
	list-style-type:none;
}
#btn-top{
	font-size:20px;
	color:#fff;
	margin:10px 0 0 -500px;
	width: 1000px;
	height: 30px;
	position: fixed;
	left: 50%;
}
#btn-left{
	font-size:30px;
	color:#fff;
	position:absolute;
	top:50%;
	left:50%;
	height:162px;
	width:50px;
	background:#333;
	z-index:111;
	margin:-120px 0 0 -550px;
	-webkit-border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	-o-border-top-left-radius:5px;
	border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	-o-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	overflow:hidden;
	-webkit-transition:width 0.5s ease,margin-left 0.5s ease,color 0.5s ease,font-size 0.5s ease;
	-moz-transition:width 0.5s ease,margin-left 0.5s ease,color 0.5s ease,font-size 0.5s ease;
	-o-transition:width 0.5s ease,margin-left 0.5s ease,color 0.5s ease,font-size 0.5s ease;
	transition:width 0.5s ease,margin-left 0.5s ease,color 0.5s ease,font-size 0.5s ease;
}
#btn-right{
	font-size:30px;
	color:#fff;
	position:absolute;
	top:50%;
	left:50%;
	height:162px;
	width:50px;
	background:#333;
	z-index:111;
	margin:-120px 0 0 500px;
	-webkit-border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	-o-border-top-right-radius:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	-o-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	overflow:hidden;
	-webkit-transition:width 0.5s ease,color 0.5s ease,font-size 0.5s ease;
	-moz-transition:width 0.5s ease,color 0.5s ease,font-size 0.5s ease;
	-o-transition:width 0.5s ease,color 0.5s ease,font-size 0.5s ease;
	transition:width 0.5s ease,color 0.5s ease,font-size 0.5s ease;
}
#btn-right span,#btn-left span{
	display:block;
	line-height:40px;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg);
	cursor:pointer;
	text-shadow:0 0 2px #000;
	margin-top:30px;
}
#btn-top span{
	line-height:30px;
	cursor:pointer;
	margin:0 0 0 100px;
	text-shadow:0 0 2px #000;
	

}
#btn-left span,#btn-top span{
	text-indent:10px;
}
#btn-top span:hover{
	color:#333;
	font-size:35px;

}
#btn-left:hover{
	color:#8DD34A;
	font-size:35px;
	width:60px;
	margin-left:-560px;
}
#btn-right:hover{
	color:#8DD34A;
	width:60px;
	font-size:35px;
}
#ppt-content{
	width:1000px;
	height:562px;
	background:url('../img/cubes.png');
	-webkit-box-shadow:0px 0px 5px #000 inset;
	-moz-box-shadow:0px 0px 5px #000 inset;
	-o-box-shadow:0px 0px 5px #000 inset;
	box-shadow:0px 0px 5px #000 inset;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-300px 0 0 -500px;
	overflow:hidden;
}
#ppt-content .page-list{
	height:562px;
	-webkit-transition:margin-left 0.5s ease;
	-moz-transition:margin-left 0.5s ease;
	-o-transition:margin-left 0.5s ease;
	transition:margin-left 0.5s ease;
}
#ppt-content .page-list .page{
	height:542px;
	width:980px;
	float:left;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	margin:10px;
}
#ppt-bottombar{
	width:1000px;
	height:80px;
	position:fixed;
	_position:absolute;
	bottom:-10px;
	left:50%;
	margin:0 0 0 -500px;
	color:#333;
}
#ppt-bottombar .title{
	width:130px;
	height:80px;
	float:left;
	text-align:center;
	font-size:43px;
	letter-spacing:-2px;
	text-shadow:0 0 2px #797979;
	font-family:LOVE;
}
#ppt-bottombar .process{
	margin-left:140px;
	position:relative;
	font-family:LOVE;
}
#ppt-bottombar .process .line-p{
	position:absolute;
	left:10px;
	right:10px;
	top:20px;
	height:10px;
	background:#fff;
	-webkit-box-shadow:0 0 3px #000;
	-moz-box-shadow:0 0 3px #000;
	-o-box-shadow:0 0 3px #000;
	box-shadow:0 0 3px #000;
	z-index:2;
}
#ppt-bottombar .process .line{
	background:#8DD34A;
	position:absolute;
	left:10px;
	top:20px;
	width:0;
	height:10px;
	-webkit-box-shadow:0 0 3px #000;
	-moz-box-shadow:0 0 3px #000;
	-o-box-shadow:0 0 3px #000;
	box-shadow:0 0 3px #000;
	z-index:3;
	-webkit-transition:width 0.5s ease;
	-moz-transition:width 0.5s ease;
	-o-transition:width 0.5s ease;
	transition:width 0.5s ease;
}
#ppt-bottombar .process .point{
	position:absolute;
	left:0px;
	top:5px;
	height:40px;
	width:40px;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	-o-border-radius:40px;
	border-radius:40px;
	line-height:40px;
	background-color:#fff;
	-webkit-box-shadow:0 0 3px #000;
	-moz-box-shadow:0 0 3px #000;
	-o-box-shadow:0 0 3px #000;
	box-shadow:0 0 3px #000;
	text-align:center;
	font-size:25px;
	cursor:pointer;
	z-index:4;
	-webkit-transition:-webkit-transform 0.2s ease,background-color 0.5s ease;
	-moz-transition:-moz-transform 0.2s ease,background-color 0.5s ease;
	-o-transition:-o-transform 0.2s ease,background-color 0.5s ease;
	transition:transform 0.2s ease,background-color 0.5s ease;
}
#ppt-bottombar .process .point:hover{
	-webkit-transform:rotate(20deg) scale(1.1);
	-moz-transform:rotate(20deg) scale(1.1);
	-o-transform:rotate(20deg) scale(1.1);
	transform:rotate(20deg) scale(1.1);
	background-color:#8DD34A;
}


#info section{
width:400px;
float: left;
}

.box{
margin:50px 40px 0 30px;
font-size:15px;
line-height:20px;
-moz-box-shadow: 10px 10px 75px #000000;
-webkit-box-shadow: 10px 10px 75px #000000;
-webkit-border-radius:10px;
-moz-border-radius:10px;
-o-border-radius:10px;
border-radius:10px;
padding-top: 30px;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 50px;
text-shadow:5px 5px 10px #000000;
}


.outside{ 
border:0; 
margin:0; 
padding:0; 
max-width:500px; 
width:expression(this.width>500?"500px":this.width); 
max-height:540px; 
height:expression(this.height>540?"540px":this.height); 
} 
} 