<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>山荣</title>
	<link rel="stylesheet" type="text/css" href="/static/css/font.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/static/css/ppt.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/static/css/demo.css" media="all" />
	<link rel="shortcut icon" href="/static/img/favicon.ico" />
	<script type="text/javascript" src="/static/js/kissy-min.js"></script>
	<script type="text/javascript" src="/static/js/ppt.js"></script>
	<script type="text/javascript" src="/static/js/demo.js"></script>
</head>
<body>
	<div id="btn-top">
		<span id="home">Home</span>
		<span id="notes">Notes</span>

	</div>
	<div id="btn-left"><span>LEFT</span></div>
	<div id="btn-right"><span>RIGHT</span></div>
	<div id="ppt-content">
		<ol class="page-list">
			<li class="page page-0">
				<h1>Rony</h1>
			</li>
			<li class="page page-1">
				<article id="info">
					<section class="box">
					<article>
						<header>
						<h2><center>About</center></h2>
						</header>
						<hr/><br/>
						<p>
						山荣 <br/>
						性别：男<br/>
						年龄：不祥<br/>
						特长：身法诡异，轻功极好<br/>
						战斗指数：****<br/>
						危险指数：*****<br/>
						个人简介：身为家族之首的唯一男丁，肩负着捍卫百年基业和尊严的重任。</br>
						联络暗号：zuroyu#gmail.com<br/><br/>
						常出没地点:
						</p>
						
					</article>
					<a href="http://weibo.com/zhourongyu"><img src="/static/img/sina.png" width="40px"></img></a>
					<a href="https://plus.google.com/116523865295528056302"><img src="/static/img/plus.png" width="40px"></img></a>
					<a href="http://twitter.com/zhourongyu"><img src="/static/img/twitter.png" width="40px"></img></a>
					<a href="http://facebook.com/zhourongyu"><img src="/static/img/facebook.png" width="40px"></img></a>
					<br/><br/>
					<p>你不支持HTML5，我就不支持你!请使用最新版浏览器～</p>
					<p>Firefox 3.5+ || Safari 3.0+ || Opera 9.5+ || Chrome 4.0+</p>
					</section>
			
					<section>
					<img class="outside" alt="The Boy" src="/static/img/me.png"/>
					</section>
				</article>

			</li>

		</ol>
	</div>
	
	<div id="ppt-bottombar">
		<div class="title">Rony</div>
		<div class="process">
			<div class="line-p"></div>
			<div class="line"></div>
		</div>
	</div>
</body>
</html>
