<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="UTF-8">
	<title>Notes!</title>
	<link rel="stylesheet" type="text/css" href="/static/css/index.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/static/css/tiny.css" media="all" />
	<link rel="shortcut icon" href="/static/site/img/favicon.ico" />
	<script type="text/javascript" src="/static/js/kissy-min.js"></script>
	<script type="text/javascript" src="/static/js/index.js"></script>
	<script type="text/javascript" src="/static/js/tinyeditor.js"></script>
</head>
<body>
	<article id="notelist">
		<section class="note" id="0">
		<div class="note-txt">
			<h3 style="text-align:center">The First</h3><br />
			<p>
				<b>这是一个在线记事本</b><br /><br />

				随时记下想记录的东西!<br />
				还会有更多好玩得功能～敬请期待!<br/>
				不过小心哦-这是本地存储记事本，详情见下方AboutNote<br />	
			</p>
		</div>
		<div class="note-date">2011.10.19</div>
		<div class="note-cover"></div>
		<em class="drop"><b>drop!</b></em>
		</section>
		
	<em></em>
	</article>
	<div id="menu">
		<ul>
			<li id="menu-home">Home</li>
			<li id="menu-new-note">NewNote</li>
			<li id="menu-Abo-note">AboutNote</li>
			<li id="menu-big" onselectstart="return false" >
				<div id="menu-big-s"></div>
				<div id="menu-big-range">
					<div id="menu-big-range-btn"></div>
				</div>
				<div id="menu-big-b"></div>
			</li>
		</ul>
	</div>
	<div id="cover"></div>
	<div id="new-note">
		<header id="new-note-title">NewNote</header><em class="close"><b>×</b></em>
		<textarea name="tinyeditor" id="tinyeditor" cols="30" rows="10"></textarea>
		<button id="new-note-submit">Submit</button><button id="new-note-reset">Reset</button>
	</div>
	<div id="about-note">
		<header id="about-note-title">AboutNote</header><em class="close"><b>×</b></em>
		<p style="text-align:left;font-size:16px;padding:0px 20px;line-height:20px;">
			<b>基于html5 本地储存技术的在线记事本。</b><br />
			请使用支撑html5 本地储存技术的浏览器浏览本站如：<br />
			google chrome , safari , opera等<br />
			如您的浏览器有弹出<b>不支持本地储存的字样</b>，说明您可以换浏览器了！<br />

			<b>html5 本地储存技术</b>是一个新兴的技术，<b>本案只是作为试用和尝鲜，请不要把本站作为实际使用.</b><br /><br />
			您在本案中添加的note，是<b>储存在您的本地计算机的您现在使用的浏览器上的</b>。<br />
			如果您跟换电脑，或者更换浏览器访问本案是看不到您在本案中添加的note的。<br /><br />
			<b>请不要把本案当成日常产品。</b>html5 本地储存技术现在还不普及，有一定的bug,
			从而导致的数据都是本案并不负责。<br />
		</p><br />
		<span style="text-align:center;font-size:12px">Blog:<a href="http://zhourongyu.info">http://zhourongyu.info</a> | Email:zuroyu@gmail.com</span>
	</div>
	
	
</body>
</html>
