<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8" />
	<title>ZRY Start Page</title>
	<link rel="stylesheet" type="text/css" media="screen"  href="/static/site/style.css" />
	<link rel="shortcut icon" href="/static/site/img/favicon.ico" />
</head>
<body>
	<div id="Root">
	<div style="float: right">
	<a href="http://zhourongyu.info" target="_blank">Home</a>&nbsp;
	<a href="https://mail.google.com/" target="_blank">Gmail</a>&nbsp; 
	<a href="https://www.google.com/reader" target="_blank">Reader</a>&nbsp; 
	<a href="https://www.google.com/analytics" target="_blank">Analytics</a>&nbsp;
	<a href="https://www.google.com/adsense" target="_blank">AdSense</a>&nbsp; 
	<a href="https://www.instapaper.com/" target="_blank">Instapaper</a>
	</div>
		<strong style="color: #999"><img src="/static/site/img/icon.png" align="absmiddle" style="margin-top: -4px;" /> ZRY Start Page</strong>
		<div class="sep"></div>
		<form target="_blank" method="get" action="http://www.google.com/search">
		<input type="hidden" name="forid" value="1" />
		<input type="hidden" name="ie" value="UTF-8" />
		<input type="hidden" name="hl" value="en-US" />
		<input type="text" name="q" id="google" class="sl" /> <input type="submit" value="Google Search" class="super normal button" />
		</form>
		<div class="sep"></div>
		<div class="column">
			<div class="column_title">MOST VISITED</div>
			<ul class="nav">
				<li><img src="/static/site/img/star.png" align="absmiddle" style="padding-bottom: 3px;" />&nbsp;<a href="http://cnbeta.com/" target="_blank">Cnbeta</a></li>
                <li><img src="/static/site/img/star.png" align="absmiddle" style="padding-bottom: 3px;" />&nbsp;<a href="https://plus.google.com/" target="_blank">Google+</a></li>
				<li><img src="/static/site/img/star.png" align="absmiddle" style="padding-bottom: 3px;" />&nbsp;<a href="http://www.cnblogs.com/" target="_blank">Cnblogs</a></li>
				<li><img src="/static/site/img/star.png" align="absmiddle" style="padding-bottom: 3px;" />&nbsp;<a href="http://www.iteye.com/" target="_blank">JavaEye</a></li>
				<li><img src="/static/site/img/heart.png" align="absmiddle" style="padding-bottom: 3px;" />&nbsp;<a href="http://www.v2ex.com/" target="_blank">V2ex</a></li>
                <li><img src="/static/site/img/heart.png" align="absmiddle" style="padding-bottom: 3px;" />&nbsp;<a href="http://www.github.com/" target="_blank">GitHub</a></li>
			</ul>
		</div>
		<div class="column">
			<div class="column_title">CHINESE</div>
			<ul class="nav">
				<li><a href="http://www.mtime.com/" target="_blank">Mtime</a></li>
				<li><a href="http://www.youku.com/" target="_blank">Youku</a></li>
				<li><a href="http://www.qiyi.com/" target="_blank">Qiyi</a></li>
				<li><a href="http://news.sina.com.cn/" target="_blank">Sina News</a></li>
				<li><a href="http://www.6.cn/" target="_blank">6rooms</a></li>
				<li><a href="http://www.chdbits.org/" target="_blank">CHDBits</a></li>
			</ul>
		</div>
		<div class="column">
			<div class="column_title">GEEK</div>
			<ul class="nav">
				<li><a href="http://www.lifehacker.com/" target="_blank">Lifehacker</a></li>
				<li><a href="http://www.engadget.com/" target="_blank">Engadget</a></li>
				<li><a href="http://www.wired.com/gadgetlab/" target="_blank">Gadget Lab</a></li>
				<li><a href="http://www.apple4.us/" target="_blank">Apple4us</a></li>
				<li><a href="http://www.ifanr.com/" target="_blank">iFanr</a></li>				
				<li><a href="http://www.usesthis.com/" target="_blank">The Setup</a></li>
			</ul>
		</div>
		<div class="column">
			<div class="column_title">SNS</div>
			<ul class="nav">
				<li><a href="http://www.twitter.com/" target="_blank">Twitter</a></li>
				<li><a href="http://www.facebook.com/" target="_blank">Facebook</a></li>
				<li><a href="http://www.douban.com/" target="_blank">豆瓣</a></li>
				<li><a href="http://www.renren.com/" target="_blank">人人</a></li>
				<li><a href="http://t.qq.com/" target="_blank">腾讯微博</a></li>
				<li><a href="http://weibo.com/" target="_blank">新浪微博</a></li>
			</ul>
		</div>
		<div class="column">
			<div class="column_title">Web</div>
			<ul class="nav">
				<li><a href="http://books.solidot.org/" target="_blank">solidot</a></li>
				<li><a href="http://songshuhui.net/" target="_blank">科学松鼠会</a></li>
				<li><a href="http://www.google.com.hk/ggblog/googlechinablog" target="_blank">Google黑板报</a></li>
				<li><a href="http://www.leica.org.cn/" target="_blank">Leica 中文</a></li>		
				<li><a href="http://www.dbanotes.net/" target="_blank">DBA Notes</a></li>
				<li><a href="http://m.metroer.com/" target="_blank">良品杂志</a></li>
			</ul>
		</div>
		<div class="column">
			<div class="column_title">Dota</div>
			<ul class="nav">
				<li><a href="http://u.youku.com/user_show/id_UMTcxMzI3OTE2.html" target="_blank">海涛解说</a></li>
				<li><a href="http://u.youku.com/user_playlist/id_UMjAyNTc5NDUy_pid_5078081.html" target="_blank">精灵解说</a></li>
				<li><a href="http://www.wodota.com/" target="_blank">WoDota</a></li>
				<li><a href="http://dota.178.com/video/" target="_blank">Dota178</a></li>
			</ul>
		</div>
		<div class="column">
			<div class="column_title">Fun</div>
			<ul class="nav">
				<li><a href="http://blog.sina.com.cn/u/1613965273" target="_blank">慕容嗷嗷</a></li>

			</ul>
		</div>
		<div class="column">
			<div class="column_title">BUY</div>
			<ul class="nav">
				<li><a href="http://www.newegg.com.cn/" target="_blank">新蛋</a></li>
				<li><a href="http://www.360buy.com/" target="_blank">京东</a></li>
				<li><a href="http://www.taobao.com/" target="_blank">淘宝</a></li>
				<li><a href="http://www.alipay.com/" target="_blank">支付宝</a></li>
				<li><a href="https://bj.10086.cn/" target="_blank">移动</a></li>
				<li><a href="http://www.cmbchina.com/" target="_blank">招商银行</a></li>
			</ul>
		</div>
		<div class="clear"></div>
		<div class="sep"></div>
		<div class="column">

		<div class="column_title">TOOLS</div>
		  <ul class="nav">
			  <li><a href="http://translate.google.com/" target="_blank">Google Translate</a></li>
			  <li><a href="http://muro.deviantart.com/" target="_blank">deviantart</a></li>
			  <li> <a href="http://www.google.com/webmasters/tools/" target="_blank">Webmaster Tools</a></li>
              <li> <a href="https://chrome.google.com/extensions/" target="_blank">Google Extensions</a></li>
			  <li> <a href="http://www.just-ping.com/" target="_blank">Just-Ping</a></li>
			  <li><a href="http://imm.io/" target="_blank">Imm.io</a></li>
			  <li><a href="http://getcloudapp.com/" target="_blank">CloudApp</a></li>
              <li><a href="http://www.pjhome.net/web/html5/encodeDataUrl.htm" target="_blank">Base64 Encode</a></li>
              <li><a href="http://userscripts.org/" target="_blank">Userscripts</a></li>
		  </ul>

	  </div>
		<div class="column">
			<div class="column_title">MAC &amp; IPHONE</div>
			<ul class="nav">
				<li><a href="http://www.apple.com/" target="_blank">Apple</a></li>
				<li><a href="http://www.smokingapples.com/" target="_blank">Smoking Apples</a></li>
				<li><a href="http://nodpad.com/" target="_blank">No DPad</a></li>
				<li><a href="http://www.tuaw.com/" target="_blank">TUAW</a></li>
				<li><a href="http://www.9to5mac.com/" target="_blank">9 to 5 Mac</a></li>
				<li><a href="http://www.freeappaday.com/" target="_blank">Free App a Day</a></li>
				<li><a href="http://www.slidetoplay.com/" target="_blank">Slide to Play</a></li>
			</ul>
		</div>
		<div class="column">
			<div class="column_title">DESIGN</div>
			<ul class="nav">
				<li><a href="http://www.dribbble.com/" target="_blank">Dribbble</a></li>
				<li><a href="http://subtlepatterns.com/" target="_blank">subtlepatterns</a></li>
				<li><a href="http://wherewedesign.com/" target="_blank">Where We Design</a></li>
				<li><a href="http://emberapp.com/" target="_blank">Ember</a></li>
				<li><a href="http://www.tutorial9.net/" target="_blank">Tutorial9</a></li>
				<li><a href="http://www.fullyillustrated.com/" target="_blank">Fully Illustrated</a></li>
				<li><a href="http://designbump.com/" target="_blank">Design Bump</a></li>
				<li><a href="http://www.deviantart.com/" target="_blank">deviantART</a></li>
				<li><a href="http://sixrevisions.com/" target="_blank">Six Revisions</a></li>
			</ul>
		</div>
		<div class="column">
			<div class="column_title">ENTERTAINMENT</div>
			<ul class="nav">
				<li><a href="http://www.slashfilm.com/" target="_blank">Film</a></li>
				<li><a href="http://www.fflick.com/" target="_blank">fflick</a></li>
				<li><a href="http://www.empireonline.com/" target="_blank">Empire</a></li>
				<li><a href="http://www.xiami.com/" target="_blank">虾米</a></li>
				<li><a href="http://www.last.fm/" target="_blank">Last.fm</a></li>
			</ul>
		</div>
		<div class="column">
			<div class="column_title">PROGRAMMING</div>
			<ul class="nav">
				<li><a href="http://iolanguage.com/" target="_blank">io</a></li>
				<li><a href="http://developer.apple.com/iphone/library/navigation/" target="_blank">iPhone OS</a></li>
				<li><a href="http://developer.apple.com/mac/library/navigation/" target="_blank">Mac OS X</a></li>
				<li><a href="http://www.python.org/" target="_blank">Python</a></li>
				<li><a href="http://www.php.net/" target="_blank">PHP</a></li>
			</ul>
		</div>
	  <div class="column">
	    <div class="column_title">GOOGLE</div>
	    <ul class="nav">
	      <li> <a href="http://www.appspot.com">App Engine</a></li>
	      <li> <a href="http://www.google.com/calendar">Calendar</a></li>
	      <li> <a href="http://docs.google.com/">Docs</a></li>
	      <li> <a href="http://groups.google.com/?hl=en">Groups</a></li>
	      <li> <a href="http://www.google.com/voice">Voice</a></li>
	      <li> <a href="http://ditu.google.com">Maps</a></li>
	      <li> <a href="https://www.google.com/latitude">Latitude</a></li>
          <li><a href="http://www.google.com.hk/dictionary?langpair=en|zh-CN">词典</a></li>
        </ul>
      </div>

		<div class="clear"></div>
	</div>
	<div id="Bottom">Powered by Google App Engine</div>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-11940834-3");
	pageTracker._setDomainName("none");
	pageTracker._setAllowLinker(true);
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>